<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
</head>
<body>
<form th:method="patch" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <div th:if="${#fields.hasErrors()}" th:errors="*{name}">error</div>
  <br>
  <label for="author">Enter author: </label>
  <input type="text" th:field="*{author}" id="author">
  <div th:if="${#fields.hasErrors()}" th:errors="*{author}">error</div>
  <br>
  <label for="year">Enter year: </label>
  <input type="number" th:field="*{year}" id="year">
  <div th:if="${#fields.hasErrors()}" th:errors="*{year}">error</div>
  <br>
  <input type="submit" value="Update!">
</form>

</body>
</html>